<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Emergency Ambulance</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="../images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="../style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="../css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="../css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/custom/register.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar_blog_1">
                <div class="sidebar-header">
                    <div class="logo_section">
                    <a href="index.html"><img class="logo_icon img-responsive" src="../images/logo/logo_icon.png" alt="#" /></a>
                    </div>
                </div>
                <div class="sidebar_user_info">
                    <div class="icon_setting"></div>
                    <div class="user_profle_side">
                    <div class="user_img"><img class="img-responsive" src="../images/layout_img/user.jpg" alt="#" /></div>
                    <div class="user_info">
                        <h6>Admin</h6>
                        <p><span class="online_animation"></span> Online</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_blog_2">
                <h4>Ambulance Mgt</h4>
                <ul class="list-unstyled components">
                   <li class="active">
                   <a href="adminDashboard" aria-expanded="false"><i class="fa fa-dashboard yellow_color"></i> <span>Admin Dashboard</span></a></li>
                   <li>
                         <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Users</span></a>
                         <ul class="collapse list-unstyled" id="users">
                            <li><a href="adminDispatcher"> <span>Dispatchers</span></a></li>
                            <li><a href="adminNurse"><span>Nurse</span></a></li>
                            <li><a href="adminDriver"> <span>Drivers</span></a></li>
                         </ul>
                   </li>
                   <li><a href="adminAmbulance"><i class="fa fa-table purple_color2"></i> <span>Ambulances</span></a></li>
                   <li><a href="adminContact"><i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a></li>
                   <li><a href="adminMap"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                   <li><a href="adminSettings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                </ul>
             </div>
        </nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                    <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                    <div class="logo_section">
                        <a href="index.html"><img class="img-responsive" src="../images/logo/logo11.png" alt="#" /></a>
                    </div>
                    <div class="right_topbar">
                        <div class="icon_info">
                            <ul>
                                <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                            </ul>
                            <ul class="user_profile_dd">
                                <li>
                                <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="../images/layout_img/user.jpg" alt="#" /><span class="name_user">Mr. xx</span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="adminDashboard">My Profile</a>
                                    <a class="dropdown-item" href="adminSettings">Settings</a>
                                    <a class="dropdown-item" href="adminDashboard">Help</a>
                                    <a class="dropdown-item" href="logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                    <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Admin</h2>
                            </div>
                        </div>
                    </div>

                    <!-- Account update Form Modal -->
                    <div class="modal" id="editModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit User Account</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                        
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <!-- Your update form content goes here -->
                                    <form>
                                    <div class="form-group col-md-12">
                                            <label for="inputId4">ID</label>
                                            <input type="id" class="form-control" id="inputEmail4" placeholder="Id">
                                    </div>
            
                                    <div class="form-group col-md-12">
                                            <label for="inputName4">Name</label>
                                            <input type="name" class="form-control" id="inputPassword4" placeholder="Name">
                                    </div>
            
                                    <div class="form-group col-md-12">
                                            <label for="inputphone4">Phone</label>
                                            <input type="phone" class="form-control" id="inputEmail4" placeholder="phone">
                                    </div>
            
                                    <div class="form-group col-md-12">
                                            <label for="inputUsername4">Username</label>
                                            <input type="username" class="form-control" id="inputEmail4" placeholder="Username">
                                    </div>
            
                                    <div class="form-group col-md-12">
                                            <label for="inputPassword4">Password</label>
                                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                    </div>
            
                                    <div class="form-group col-md-12">
                                            <label for="inputState">Role</label>
                                            <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>Admin</option>
                                            <option>Dispatcher</option>
                                            <option>Driver</option>
                                            <option>Nurse</option>
                                            <option>Patient</option>
                                            </select>
                                    </div>
            
                                    <div class="regr">
                                            <div class="form-group">
                                            <!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                Check me out
                                                </label>
                                            </div> -->
                                            </div>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                    
                                    </form>
                                </div>
                        
                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <!-- Users Information section -->
                        <div class="col-md-12">
                            <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                                <div class="heading1 margin_0">
                                    <h2>Users Information</h2>
                                </div>
                            </div>

                            <div class="full padding_infor_info">
                                <h2 class="mb-4">Dispatchers Data</h2>
                                <div class="table_row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Username</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sami Moke</td>
                                                <td>0915657585</td>
                                                <td>@samoke</td>
                                                <td>Dispatcher</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>

                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Gezagn Beky</td>
                                                <td>0915657585</td>
                                                <td>@gebeky</td>
                                                <td>Dispatcher</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Miretu Jaleta</td>
                                                <td>0915657585</td>
                                                <td>@mijaleta</td>
                                                <td>Dispatcher</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Mr. xx</td>
                                                <td>0915657585</td>
                                                <td>@huguda</td>
                                                <td>Dispatcher</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Feyisa Gizew</td>
                                                <td>0915657585</td>
                                                <td>@fegizew</td>
                                                <td>Dispatcher</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <!-- Users Information section -->
                        <div class="col-md-12">
                            <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                                <div class="heading1 margin_0">
                                    <h2>Users Information</h2>
                                </div>
                            </div>

                            <div class="full padding_infor_info">
                                <h2 class="mb-4">Drivers Data</h2>
                                <div class="table_row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Username</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sami Moke</td>
                                                <td>0915657585</td>
                                                <td>@samoke</td>
                                                <td>Driver</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Gezagn Beky</td>
                                                <td>0915657585</td>
                                                <td>@gebeky</td>
                                                <td>Driver</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                     
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Miretu Jaleta</td>
                                                <td>0915657585</td>
                                                <td>@mijaleta</td>
                                                <td>Driver</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Mr.xx</td>
                                                <td>0915657585</td>
                                                <td>@huguda</td>
                                                <td>Driver</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Feyisa Gizew</td>
                                                <td>0915657585</td>
                                                <td>@fegizew</td>
                                                <td>Driver</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <!-- Users Information section -->
                        <div class="col-md-12">
                            <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                                <div class="heading1 margin_0">
                                    <h2>Users Information</h2>
                                </div>
                            </div>

                            <div class="full padding_infor_info">
                                <h2 class="mb-4">Nurse Data</h2>
                                <div class="table_row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Username</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sami Moke</td>
                                                <td>0915657585</td>
                                                <td>@samoke</td>
                                                <td>Nurse</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Gezagn Beky</td>
                                                <td>0915657585</td>
                                                <td>@gebeky</td>
                                                <td>Nurse</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Miretu Jaleta</td>
                                                <td>0915657585</td>
                                                <td>@mijaleta</td>
                                                <td>Nurse</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                       
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Mr. xx</td>
                                                <td>0915657585</td>
                                                <td>@huguda</td>
                                                <td>Nurse</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Feyisa Gizew</td>
                                                <td>0915657585</td>
                                                <td>@fegizew</td>
                                                <td>Nurse</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                                                        Update</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <!-- footer -->
                    <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2024 Designed by Ambulance Devs Team. All rights reserved.<br><br>
                        </p>
                    </div>
                    </div>
                </div>
            <!-- end dashboard inner -->
        </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="../js/animate.js"></script>
    <!-- select country -->
    <script src="../js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="../js/owl.carousel.js"></script> 
    <!-- chart js -->
    <script src="../js/Chart.min.js"></script>
    <script src="../js/Chart.bundle.min.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="../js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="../js/chart_custom_style1.js"></script>
    <script src="../js/custom.js"></script>
</body>
</html>