<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sms sending page</title>
</head>
<body>
    <h1>sms sending page</h1>

    phone number: <textarea rows="2" cols="50" >
        <%= mobile_number%>
    </textarea>
<br>
    patient information: <textarea rows="2" cols="50" readonly>
        <% if (bookingRequests.length > 0) { %>
            <%= bookingRequests[bookingRequests.length - 1].contactInfo %>
        <% } else { %>
            No booking requests found.
        <% } %>
    </textarea>
    <br>
    <button><h3>send</h3></button>

       

    
</body>
</html>
