<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- changePassword.ejs -->
<form action="/change-password/<%= userId %>" method="POST">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>

  <label for="confirmPassword">Confirm New Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>

  <button type="submit">Change Password</button>
</form>

  
</body>
</html>