<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h2>Registration</h2>
    <form action="/register" method="post">
        <!-- user input -->
        Email:<br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        Username:<br>
        <input type="text" name="username" placeholder="Username" required><br><br>
        Role:<br>
        <select name="role" required>
            <option value="nurse">Nurse</option>
            <option value="driver">Driver</option>
            <option value="dispatcher">Dispatcher</option>
        </select><br><br>
        <!-- submit button -->
        <input type="submit" value="Register">
    </form>
</body>
</html>
